@import "./index.scss";

.app {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  text-align: center;
  background: #eee9df;
  opacity: 1;
  padding: 0.25em;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  padding: 0.25em 0.5em;
  z-index: 1000;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.4em;
  width: 100%;
  justify-content: center;
  margin-top: 0.5em;
}

.clay-logo {
  img {
    height: 32px;
    width: auto;
    object-fit: contain;
  }
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 0.3em 0.5em;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background: url("/fortunes/mocha-grunge-brown-500.png") repeat;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  gap: 0.25em;
}

.internet-sculptures-link {
  img {
    height: 20px;
    width: auto;
    opacity: 0.7;
  }
}
